@use './lib/_reset.scss';
@use './lib/_vars.scss';
@use './lib/_typography.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-size: #{get-font-size(1)};
}

.container {
  padding-left: var(--base-margin);
  padding-right: var(--base-margin);
}

// Typography //

h1 {
  font-size: #{get-font-size(4)};
}
h2 {
  font-size: #{get-font-size(3)};
}
h3 {
  font-size: #{get-font-size(2)};
}

p {
  @include align-to-baseline(1, 1, 1);
}

// Reusable Classes //

.flex {
  display: flex;
}

.flex-gap-base {
  gap: var(--grid-gutter);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
