@use './lib/_reset.scss';
@use './lib/_vars.scss';
@use './lib/_typography.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', serif;
  font-style: normal;

  @include font-size(1);
}

// Reusable Classes //

.flex {
  display: flex;
}
